.form__button {
  font-weight: 400;
  font-size: 30px;
  line-height: 38.46px;
  text-align: center;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: var(--yellow);
  color: var(--brown);

  &:hover {
    background-color: var(--hover) !important;
  }
}