.preview {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.preview__company {
  display: flex;
  flex-direction: column;
  gap: 62px;
  width: 344px;
}

.preview__title {
  font-weight: 600;
  font-size: 50px;
  line-height: 50px;
}

.preview__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}