.create {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2%;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  &__form {

  }

}