.header {
  background-color: var(--brown);
  height: 108px;
  width: 100%;
}

.header__container {
  color: var(--white);
  line-height: 12px;
  text-align: center;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 0 133px;
}

.header__logo {
  width: 286px;
  height: 70px;
  margin-bottom: 10px;
}

.header__nav {

}

.header__nav_list {
  display: flex;
  gap: 43px;
}

.header__profile {

}