@font-face {
  font-family: 'Grandis';
  src: url('../assets/fonts/Grandis-Regular.eot');
  src: local('Grandis Regular'), local('Grandis-Regular'),
  url('../assets/fonts/Grandis-Regular.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/Grandis-Regular.woff2') format('woff2'),
  url('../assets/fonts/Grandis-Regular.woff') format('woff'),
  url('../assets/fonts/Grandis-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Grandis';
  src: url('../assets/fonts/Grandis-Medium.eot');
  src: local('Grandis Medium'), local('Grandis-Medium'),
  url('../assets/fonts/Grandis-Medium.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/Grandis-Medium.woff2') format('woff2'),
  url('../assets/fonts/Grandis-Medium.woff') format('woff'),
  url('../assets/fonts/Grandis-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Grandis';
  src: url('../assets/fonts/Grandis-Bold.eot');
  src: local('Grandis Bold'), local('Grandis-Bold'),
  url('../assets/fonts/Grandis-Bold.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/Grandis-Bold.woff2') format('woff2'),
  url('../assets/fonts/Grandis-Bold.woff') format('woff'),
  url('../assets/fonts/Grandis-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Grandis';
  src: url('../assets/fonts/Grandis-Light.eot');
  src: local('Grandis Light'), local('Grandis-Light'),
  url('../assets/fonts/Grandis-Light.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/Grandis-Light.woff2') format('woff2'),
  url('../assets/fonts/Grandis-Light.woff') format('woff'),
  url('../assets/fonts/Grandis-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'Grandis';
  src: url('../assets/fonts/Grandis-Black.eot');
  src: local('Grandis Black'), local('Grandis-Black'),
  url('../assets/fonts/Grandis-Black.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/Grandis-Black.woff2') format('woff2'),
  url('../assets/fonts/Grandis-Black.woff') format('woff'),
  url('../assets/fonts/Grandis-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

:root {
  --background: #DDD9D0;
  --brown: #7A6759;
  --brown-1: #67564A;
  --black: #000000;
  --yellow: #E4B437;
  --white: #FFFFFF;
  --beige: #F5F5ED;
  --red: #8F4848;
  --hover: #8a6d1f;
}

html, body {
  overflow-x: hidden;
  scrollbar-width: thin;
  font-family: "Grandis", sans-serif;
  background-color: var(--background);
  font-weight: 450;
  font-size: 20px;
  color: var(--black);
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
  display: block;
}


h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}